@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?snc4xt');
	src:url('fonts/icomoon.eot?#iefixsnc4xt') format('embedded-opentype'),
		url('fonts/icomoon.woff?snc4xt') format('woff'),
		url('fonts/icomoon.ttf?snc4xt') format('truetype'),
		url('fonts/icomoon.svg?snc4xt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e905";
}

.icon-connection:before {
	content: "\e91b";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-bin2:before {
	content: "\e9ad";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-embed2:before {
	content: "\ea80";
}

