@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wi8dxp');
	src:url('fonts/icomoon.eot?#iefixwi8dxp') format('embedded-opentype'),
		url('fonts/icomoon.woff?wi8dxp') format('woff'),
		url('fonts/icomoon.ttf?wi8dxp') format('truetype'),
		url('fonts/icomoon.svg?wi8dxp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e905";
}

.icon-connection:before {
	content: "\e91b";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-spinner5:before {
	content: "\e97e";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-github:before {
	content: "\eab1";
}

