@media screen and (max-width: 64em) {
  body, html {
    width: 100%;
    height: 100%;
  }

  body {
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  .container {
    max-width: initial;
  }

  article {
    position: absolute;
    top: $header;
    bottom: $footer;
    left: 0;
    right: 0;
    min-height: initial;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
