.pull-right {
  float: right;
}

.align-rigth {
  text-align: right;
}

.align-center {
  text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
