.pull-right {
  float: right;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

input {
  border-color: transparent;
  border-bottom: 1px solid #CCCCCC;

  padding: 10px 0;
  width: 100%;
  margin-bottom: 1px;

  &:focus {
    border-bottom: 2px solid $primary-color;
    margin-bottom: 0;
  }
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
