---
---

$primary-color: #4CAF50;
$secondary-color: #388E3C;

$padding: 15px;
$header: 80px;
$footer: 55px;
$border: 1px solid #E8E8E8;

$max-width: 430px;

@import "utils";
@import "icons";

body {
  background: #E0E0E0;
  padding: 1em 0;
}

body,
.pure-g [class *="pure-u"] {
  font-family: 'Roboto', sans-serif;
}

.container {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0 auto;
  max-width: $max-width;
}

header {
  height: $header;

  .top-bar {
    padding: ($padding / 3);
    background: $secondary-color;
    font-size: 0.75em;
    text-align: right;
    color: #FFFFFF;

    i {
      margin-left: 5px;
    }

    .carrier {
      float: left;
      text-align: left;
    }
  }
  .title-bar {
    background: $primary-color;
    padding: $padding;
    color: #FFFFFF;

    h1 {
      font-weight: 300;
      font-size: 1.4em;
      margin: 0;
    }
  }
}

footer {
  background: #000000;
  padding: 0 $padding;
  height: $footer;
  color: #FFFFFF;
  line-height: $footer;

  a {
    color: #9E9E9E;
    font-size: 1.4em;
    text-decoration: none;

    &:hover {
      color: #FAFAFA;
    }
  }

  .pure-button {
    background: none transparent !important;
    color: #FFFFFF;
  }
}

article {
  border: $border;
  background: #FFFFFF;
  min-height: 510px;
  position: relative;
}

.floating-button {
  $size: 55px;
  background-color: #F44336;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  padding: 0;
  width: $size;
  height: $size;

  position: absolute;
  bottom: $padding * 1.5;
  right: $padding;

  line-height: $size + 5px;
  text-align: center;
  color: #FFFFFF;

  i {
    margin-left: 2px;
  }

  &:hover {
    background-image: none !important;
    background-color: #D32F2F;
  }
  &:active,
  &:visited {
    background-image: none !important;
    background-color: #FFFFFF;
    color: #000000;
  }
}

.task {
  display: block;
  border-bottom: $border;
  padding: $padding;

  .wrapper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;


    overflow: hidden;
    font-size: 1em;
    line-height: $padding * 2;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .checkbox {
    cursor: pointer;
    color: #9E9E9E;
    padding-right: $padding;
  }

  .desc {
    cursor: default;
  }

  .button {
    $size: 30px;
    background-color: #FFFFFF;
    border-color: transparent;
    border-radius: 50%;


    color: #9E9E9E;
    line-height: $size * 0.95;
    font-size: 0.82em;

    padding: 0;
    // margin-left: 5px;
    width: $size;
    height: $size;

    &:hover {
      background-color: #E0E0E0;
      color: #424242;
    }
    &:active {
      background-color: #BDBDBD;
      color: #424242;
    }

    &.button-blue {
      background-color: #42A5F5;
      &:hover {
        background-color: #1E88E5;
      }
      &:active {
        background-color: #1565C0;
      }
    }
    &.button-red {
      background-color: #E53935;
      &:hover {
      background-color: #D32F2F;
      }
      &:active {
        background-color: #B71C1C;
      }
    }
  }

  &.ok {
    .checkbox {
      color: #8BC34A;
    }

    .desc {
      text-decoration: line-through;
      color: #616161;
    }
  }

  &.empty {
    line-height: $padding * 3;
    color: #757575;

    i {
      margin-right: 10px;
    }
  }
}

.modal {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialog {
  z-index: 200;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;

  margin: 0 auto;
  padding: $padding;
  background-color: #FFFFFF;
  border-color: transparent;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

  color: #9E9E9E;
  max-width: 48em;

  h2 {
    display: block;
    margin: 0 0 $padding 0;
    padding: 0;

    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
  }

  .pure-button {
    background-image: none !important;
    background-color: #FFFFFF;
    color: $primary-color;
    font-weight: 400;

    &:hover {
      background-image: none !important;
      color: $secondary-color;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.dialog-alert {
    width: 20em;
  }
}

.overlay {
  z-index: 100;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.overlay-light {
    background: rgba(255, 255, 255, 0.2);
  }
  &.overlay-dark {
    background: rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes spin {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

.spinner-modal {
  z-index: 999;
}
.spinner {
  $size: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  width: $size;
  height: $size;

  padding: 0;
  font-size: 1.2em;
  margin: 0 ($size / -2);
  line-height: $size + 5px;
  text-align: center;

  z-index: 900;
  position: absolute;
  top: 35%;
  left: 50%;

  i {
    $size: 20px;
    -webkit-animation: spin linear 1s infinite;
    -moz-animation: spin linear 1s infinite;
    -ms-animation: spin linear 1s infinite;
    -o-animation: spin linear 1s infinite;
    animation: spin linear 1s infinite;
    color: #919191;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: ($size / -2) 0 0 ($size / -2);

    display: block;
    width: $size;
    height: $size;
  }
}

@import "responsive";
